<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <link
      href="{{ url_for('static', path='/css/reset.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/common_styles.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/index_styles.css') }}"
      rel="stylesheet"
    />

    <title>Victor Dumetz</title>
  </head>
  <body>
    <header>
      <a href="#"><h1 id="name">Victor Dumetz</h1></a>
      <nav id="navigation-bar">
        <ul>
          {% for section in sections %}
          <li><a href="#{{ section.html_id }}">{{ section.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      <section id="tagline">
        <p>
          Hello, my name is<br /><em id="tagline-name">Victor Dumetz</em
          ><br />I'm a <em id="tagline-job">Data Scientist</em> and avid
          tinkerer.
        </p>
      </section>
      {% for section in sections %}
      <section id="{{ section.html_id }}">
        <h2>
          {{ section.name }}
          <hr />
        </h2>
        <div
          class="section-content"
          hx-get="/{{ section.html_id }}-section"
          hx-swap="innerHTML"
          hx-trigger="load"
        ></div>
        {% if section.has_page %}
        <a href="/{{ section.html_id }}" class="see-more">See more →</a>
        {% else %}
        <!--Allow consistent flex layout across the sections-->
        <div class="empty-flex-item" />
        {% endif %}
      </section>
      {% endfor %}
    </main>
  </body>
</html>
