:root {
  --header-height: 8vh;
}

main {
  margin-top: var(--header-height);
  padding: 6px;
}

main > p {
  width: 70%;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 1.2em;
  font-size: 1.2em;
}

#projects-list {
  padding: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 72px 36px;
}

#projects-list li {
  padding: 18px;
  margin: 24px;
  list-style: none;
}

#projects-list li a {
  height: 100%;
}

#projects-list li a > * {
  padding: 6px;
}
