<div id="about-section-content">
  <div id="i-like">
    <p>I like</p>
    <ul
      id="i-like-items-container"
      hx-get="/i-like-items"
      hx-trigger="load, every 1s"
    ></ul>
  </div>
  <div id="about-text">
    <p>
      While my background lies in mathematics and physics, my true passion is
      coding&#8212;writing elegant, efficient code that transforms complexity
      into simplicity. Coding, to me, is more than just a technical skill; it’s
      a form of art, where beauty lies in clean design and smart solutions.
    </p>
    <p>
      I also hold a Master’s in Management and an MSc in Data Analytics and
      Artificial Intelligence, which gives me the ability to bridge the gap
      between technical problem-solving and business understanding.
    </p>
    <p>
      Whether I’m building models, developing algorithms, or exploring new
      programming paradigms, I always approach each challenge with a sense of
      creativity and curiosity. For me, there’s a certain beauty in crafting
      code that is both functional and aesthetically pleasing.
    </p>
  </div>
</div>
