<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victor Dumetz</title>
  </head>
  <body>
    <header>
      <a href="#"><h1 id="name">Victor Dumetz</h1></a>
      <nav id="navigation-bar">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="tagline">
        <p>
          Hello, my name is<br /><em id="tagline-name">Victor Dumetz</em
          ><br />I'm a <em id="tagline-job">Data Scientist</em> and avid
          tinkerer.
        </p>
      </section>
      <section id="about">
        <h2>
          About Me
          <hr />
        </h2>
      </section>
      <section id="skills">
        <h2>
          Skills
          <hr />
        </h2>
      </section>
      <section id="projects">
        <h2>
          Projects
          <hr />
        </h2>
      </section>
      <section id="contact">
        <h2>
          Contact
          <hr />
        </h2>
      </section>
    </main>
  </body>
</html>
